<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Utilice el micrófono para reconocer el habla del usuario. La aplicación no registra nada.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Genere una transcripción del discurso del usuario y cree un resumen del mismo con IA.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
